# large simulation output 
*.h5
*.hdf5
*.xdmf
*.checkpoint
*.pvd
*.vtu
*.pvtu
*.vtk
*.jld2

# unwanted data
*.csv

# logs 
*.log
*.out
*.err

# tex
*.aux
*.bbl
*.blg
*.brf
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.nav
*.out
*.snm
*.toc
*.dvi
*.synctex.gz
*.fdb_latexmk
*.fls
*.xdv



.aider*
