# large simulation output 
*.h5
*.hdf5
*.xdmf
*.checkpoint
*.pvd
*.vtu
*.pvtu
*.vtk
*.jld2

# custom sysimages
*.so

# unwanted data
*.csv

# logs 
*.log
*.out
*.err

# tex
*.aux
*.bbl
*.blg
*.brf
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.nav
*.out
*.snm
*.toc
*.dvi
*.synctex.gz
*.fdb_latexmk
*.fls
*.xdv

# make sure to not include lgos and simulation output
data/*
logs/*

# ignore remote files
remote/*

# chimera jupyter stuff
.ipynb_checkpoints/*
